        #bar    .axis path,
        #bar    .axis line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;
            }

        #bar    .axis text {
                font-family: sans-serif;
                font-size: 11px;
            }