* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 0px;
}
.header {
  height: 100%;
  width: 100%;
  background: black;
}

.credit {
  text-decoration: none;
  background-color: black;
  color: white;
  font-family: Open Sans;
  width: 1300px;
  height:50px;
  text-align: center;
}



h1{
  color: white;
  text-align: center;
  padding-top: 250px;
  margin: 0;
}

h2{
  padding-left: 20px;
}

p{
  font-family: 'Slabo 27px', serif;
}

.main-nav,
.main {
  position: relative; 
}
.main-nav {
  background: #fff;
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}
.main {
  background: #f2f2e8;
  padding: 110px 50px 50px;
  column-count: 2;
  column-gap: 40px;
}



/*************************page1_line********************************/

.click {
  font-size: 90%;
  margin-left: 50px;
  margin-bottom: 0;
  color: grey;
  font-family: inherit;
}

#page1_line g line{
        fill: none;
        stroke: lightgrey;
        stroke-width: 0.2px;
      }

.tick {
  opacity: 0.5;
}

#page1_line g path {
  stroke: grey;
  fill: none;
  stroke-width:0.8;
}


.label {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        line-height: 1em;
      }


#page1_line g path:hover {
        stroke-width: 1.5px;
        stroke-opacity: 100%;
        stroke: #912F3A;}

/*************************page1_map********************************/


.unfocused{
                fill-opacity: 30%;
            }

.focused {
                fill: none;
                stroke-width: 1.5px;
                stroke-opacity: 100%;
                stroke: #912F3A;
            }

.svg path:hover {
    opacity: .3;
}

.countries {
    stroke: #fff;
    stroke-width:0.5px;
}

.legendLinear text {
    font-size: 9px;
}

g.legendCells {
  margin-top: 200px;
}


#page1_map svg path:hover {
    opacity: .3;
}

/*************************page2 time line********************************/

      .line.normal {
        stroke: gray;
        stroke-width: 0.7;
        fill: none;
      }

      .line.unfocused{
        stroke-opacity: 40%;
      }

      .line.focused {
        stroke-width: 2px;
        stroke-opacity: 100%;
        stroke: rgb(158, 193, 243);
      }

      .selected {
        box-shadow: 0px 1px 16px #666666;
      }

      .reveal {
        color: grey;
        background-color: #f2f2e8;
        border-top: transparent;
        border-right: transparent;
        border-left: 5px solid grey;
        border-bottom: grey;
        margin-top: 5px;
        margin-right: 100;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 50px;
        font-size: 80%;
      }

      .reveal:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;}

      .toggle_container {
        font-family: 'Slabo 27px', serif;
        padding-top: 10px;
      }

      #page2_text {
        margin-top: 50;
      }

/************************* page3 scatter plot********************************/


      #Country,#Region, #World, #literacy, #GNI, #breastfeeding, #water, #sanitation, #birth {
        color: grey;
        background-color: #f2f2e8;
        border-top: transparent;
        border-right: transparent;
        border-left: 5px solid grey;
        border-bottom: grey;
        margin-top: 5px;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 50px;
        font-size: 80%;
      }

      #Country:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;
            }
      #Region:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;            }
      #World:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;            }
      #literacy:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;            }
      #GNI:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;            }
      #breastfeeding:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;            }
      #water:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;            }
      #sanitation:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;            }
      #birth:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;            }

     #scatter_text{
              padding-left:50px;
              padding-bottom: 50px;
              padding-top: 30px;
     }

      .axis path,
      .axis line {
        fill: none;
        stroke: black;
        stroke-width: 0.8px;
      }

       circle {
        fill: grey;
        fill-opacity: 50%;
        stroke-width: 1px;
      }

      .axis text {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        line-height: 1em;
      }

      .ralated_text {
        padding-top: 150px;
        padding-left: 50px;
      }

      .tooltip {
        position: absolute;
        z-index: 10;
        opacity:1;
      }

      .tooltip p {
        background-color: rgba(211, 219, 222, 0.7 );
        color: black;
        border: none;
        border-radius: 8px;
        padding: 2px;
        font-size: 12;
      }

      .circleunfocused{
        fill-opacity: 70%;
      }

      .circlefocused {
        fill-opacity: 100%;
      }     

      /* this is an adjustment to bootstrap's row for my page */
      .row {
        padding-top: 10px;
        padding-left: 20px;
      }

      /* this is an adsjustment to bootstrap for my page */

      circle.current, circle.highlight.current {
            stroke: #000;
            stroke-width: 1.7;
      } 

      #page3_paragraph {
        padding-left: 40px;
        padding-right: 40px;
      }

      #page3_index {
        margin-left: 50px;
      }



/************************* page3 Line ********************************/

#filters {
    margin-bottom: 20px;
}
#filters a {
        color: grey;
        background-color: #f2f2e8;
        border-top: transparent;
        border-right: transparent;
        margin-top: 5px;
        padding: 0 6px 0 6px;
        cursor: pointer;
        font-size: 80%;
}

#filters a:hover {
             text-shadow:2px 1px 1px lightgrey;   
             color: black;
             font-weight: bold;}

#SAS { border-left: 5px solid #CC0000; }
#ECS { border-left: 5px solid #0099FF; }
#MEA { border-left: 5px solid #FF9900; }
#SSF { border-left: 5px solid #009900; }
#LCN { border-left: 5px solid #FF0099; }
#EAS { border-left: 5px solid #FFE100; }
#NAC { border-left: 5px solid #333399; }

#region_btn {
  padding-left: 30;
  padding-right: 0;
}

#index_btn {
  padding-left: 5;
  padding-right: 0;
}



g path {
    stroke: grey;
    stroke-width: 0.3;
    fill: none;
}
g path.current, g path.highlight.current {
    stroke: #000;
    stroke-width: 1;
}
.SAS.highlight { stroke: #CC0000; }
.ECS.highlight { stroke: #0099FF; }
.MEA.highlight { stroke: #FF9900; }
.SSF.highlight { stroke: #009900; }
.LCN.highlight { stroke: #FF0099; }
.EAS.highlight { stroke: #FFE100; }
.NAC.highlight { stroke: #333399; }
.highlight { stroke-width: 1px; } 

line {
    stroke: black;
}

text {
    font-size: 11px;
.axis {
    stroke-width: 0.8;
    stroke: #000;
}
 .xTicks, .yTicks {
    stroke-width: 0.6;
    stroke: #000;
}




